div {
  width: 100%;
}

img {
  width: 100%;
  height: auto;

}

section {
  width: calc(100% - 4rem);
  max-width: 136rem;
  margin: 2rem 2rem 0;
  &:last-child {
    margin:2rem;
  }
 }


.col-1 {
   width: 100%;
   .col-1__col-1 {
     width: 100%;
   }
   .col-1__col-2 {
     width:100%;
   }
 }

 .col-2 {
   width: 100%;
 }

 .box {
   margin: 0 0 2rem;
   width: 100%;
   &.box--address,
   &.box--time {
     text-align: center;
     border: .2rem solid black;
     font-size: 2.75rem;
     padding: 1.5rem;
     width: calc(100% - 3.4rem);
   }
   &.box--time {
     background-color: #F4DB39;
   }
   &.box--address {
     padding: 6rem 1.5rem;
     background-color: #EA3628;
     p {
      font-size: 4rem;
      line-height: .75;
     }
     span {
       font-size: 75%;
       display: inline-flex;
     }
   }
 }

  .bottom {
    p {
      width: 100%;
      text-align: center;
    }
  }

@media screen and (min-width: 568px) {

 .flex {
   display: flex;
 }

 .flex--justify-center {
   justify-content: center;
 }

 .flex--align-center {
   align-items: center;
 }

 .flex--column {
   flex-direction: column;
 }

 .col-1 {
   width: 71%;
   .col-1__col-1 {
     width: 60%;
   }
   .col-1__col-2 {
     width:40%;
   }
 }

 .col-2 {
   width: 29%;
 }
 .box {
  margin:0 .5rem 1rem;
  width: calc(100% - 1rem);
   &.box--address,
   &.box--time {
     padding: 1.5rem;
     width: calc(100% - 4.4rem);
   }

   &.box--address {
    p {
     font-size: 2rem;
     line-height: .5;
    }
     span {
       font-size: 50%;
     }
   }
 }
}


@media screen and (min-width: 1024px) {
  section {
   margin: 3rem 3rem 0;
   width: calc(100% - 6rem);
   &.last-child {
    margin: 3rem;
   }
  }

  .box {
   margin:0 1rem 2rem;
   width: calc(100% - 2rem);
    &.box--address,
    &.box--time {
      border: .3rem solid black;
      width: calc(100% - 5.6rem);
    }
    &.box--address {
     padding: 3rem 1.5rem;
     p {
      font-size: 4rem;
      line-height: .75;
     }
     span {
      font-size: 75%;
     }
    }
  }
}
