html {
   font-size: 62.5%;
   font-family: 'Bangers', cursive;
   color: black;
   font-weight: 400;
}

body {
  font-size: 1.5rem;
  line-height: 1.4;
}

h2 {
  font-size: 4rem;
  width: 100%;
  text-align: center;
}
